{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": ["ie 6-8"]
        },
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": ["@babel/transform-runtime"]
}
