h1 {
    background-color: orange;
}
h2 {
    background-color: red;
}
h3 {
    background-color: blue;
}
.demo {
    background-color: black;
}
/* css autoprefixer*/
.border {
    border: 2px solid green;
    transform: translate(10px, 20px);
}
/*css next*/
:root {
    --redColor : red;
}
h3 {
    color:var(--redColor);
}
.bg1 {
    width: 400px;
    height: 400px;
    background-image: url(../img/01.png);
}
.bg2 {
    width: 400px;
    height: 400px;
    background-image: url(../img/02.png);
}
.bg3 {
    width: 400px;
    height: 400px;
    background-image: url(../img/03.png);
}